h1{
background-color:rgb(248, 155, 170);
color: white;
padding: 20px;
}
p{
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-style: bold; 
}

.roml{
color: antiquewhite;
text-decoration: none;
}

.redt{
    color: red;
    border:3px solid  rgb(248, 155, 170);   
    font-size: 60px;
    margin-left: 50px;
    display: flex;
    justify-content: flex-start;
}
.container{
    padding: 20px;
    display: flex;
    background-color: rgb(248, 155, 170);
}


.pic{
    display: flex;
   justify-content: center;
}